/* doctorDashboard.css */
.dashboard-container {
  padding: 1.5rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ebf8ff, #ffffff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-family: "Arial", "Helvetica", sans-serif;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.table-container {
  overflow-x: auto;
  margin-top: 1.5rem; /* Add some space above the table */
}

.table {
  min-width: 100%;
  background-color: #ffffff;
  border: 1px solid #d1d5db; /* Gray-300 */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.table-header {
  background-color: #e5e7eb; /* Gray-200 */
}

.table-header th {
  padding: 0.75rem 1rem; /* Increased padding for header */
  border-bottom: 2px solid #d1d5db; /* Thicker border for header */
  text-align: left; /* Align text to the left */
  font-weight: bold; /* Bold font for header */
}

.table-body tr {
  border-bottom: 1px solid #d1d5db; /* Gray-300 */
}

.table-body td {
  padding: 0.75rem 1rem; /* Increased padding for cells */
  transition: background-color 0.2s; /* Transition for hover effect */
}

.table-body tr:hover td {
  background-color: #f1f5f9; /* Light gray background on row hover */
}

.back-button {
  padding: 1rem 2rem; /* Match the padding from landing.css */
  border-radius: 0.5rem; /* Rounded corners */
  font-weight: bold; /* Bold font */
  background-color: #007bff; /* Primary color */
  color: white; /* Text color */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s; /* Smooth transition */
  margin-bottom: 1.5rem; /* Space below the button */
}

.back-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
